<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumingIT.LoginAndPost" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SeleniumingIT.Facebook" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeleniumingIT.LoginAndPost>
            <setting name="correctEmail" serializeAs="String">
                <value>tomerezon@gmail.com</value>
            </setting>
            <setting name="correctPass" serializeAs="String">
                <value>vpugk,ktchc</value>
            </setting>
            <setting name="correctPath" serializeAs="String">
                <value>C:\\Users\\Tomer\\Desktop\\Was.txt</value>
            </setting>
        </SeleniumingIT.LoginAndPost>
        <SeleniumingIT.Facebook>
            <setting name="URL" serializeAs="String">
                <value>https://www.facebook.com/</value>
            </setting>
        </SeleniumingIT.Facebook>
    </applicationSettings>
</configuration>